
  .hero {
    background-image: url("../images/req.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 200px;
    width: calc(100% - 200px);
    height: 110em;
  }
  
  .main {
    width: fit-content;
    height: 38%;
    background-color: #f92222;
    margin: 50px 35%;
    border-radius: 20px 20px 30px 30px;
  }
  
  .s-upper {
    color: white;
    background-color: #f13434;
    margin-top: 0em;
    margin-left: 0em;
    font-size: 1vh;
    padding-top: 2em;
    padding-left: 2em;
    word-spacing: 5px;
  }
  
  .u-text {
    margin-left: 40%;
  }
  
  .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .head p {
    color: white;
    text-align: center;
    font-size: 23px;
    letter-spacing: 4px;
    margin-top: 10px;
  }
  
  .color {
    color: #d30c0c;
  }
  
  .form {
    background-color: #dedede;;
    width: 100%;
    height: fit-content;
    padding: 15px;
  }
  
  .f {
    float: left;
  }
  
  .name {
    font-size: 15px;
    font-weight: bold;
    color: red;
    margin: 1px 0 0 0.3%;
  }
  
  .input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 8px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
  

.btns {
  background: #e1e5d8;
  color: #0d0d0d;
  font-weight: bold;
  border-radius: 40px;
  width: 12em;
}
.btns:hover{
  color: #ff4d24;
  background-color: #59cc8a;
}

  
.subm {
  text-align: center;
  padding-top: 40px;
}